<div>
    <h2>Bibliographic Entities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="bibliographic-entity.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Bibliographic Entity
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bibliographicId"><span>Bibliographic Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span>Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="owningInstitutionId"><span>Owning Institution Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span>Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span>Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastUpdatedDate"><span>Last Updated Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastUpdatedBy"><span>Last Updated By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="owningInstitutionBibId"><span>Owning Institution Bib Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isDeleted"><span>Is Deleted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="institutionEntity.id"><span>Institution Entity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bibliographicEntity in vm.bibliographicEntities track by bibliographicEntity.id">
                    <td><a ui-sref="bibliographic-entity-detail({id:bibliographicEntity.id})">{{bibliographicEntity.id}}</a></td>
                    <td>{{bibliographicEntity.bibliographicId}}</td>
                    <td>{{bibliographicEntity.content}}</td>
                    <td>{{bibliographicEntity.owningInstitutionId}}</td>
                        <td>{{bibliographicEntity.createdDate | date:'mediumDate'}}</td>
                    <td>{{bibliographicEntity.createdBy}}</td>
                        <td>{{bibliographicEntity.lastUpdatedDate | date:'mediumDate'}}</td>
                    <td>{{bibliographicEntity.lastUpdatedBy}}</td>
                    <td>{{bibliographicEntity.owningInstitutionBibId}}</td>
                    <td>{{bibliographicEntity.isDeleted}}</td>
                    <td>
                        <a ui-sref="institution-entity-detail({id:bibliographicEntity.institutionEntity.id})">{{bibliographicEntity.institutionEntity.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="bibliographic-entity-detail({id:bibliographicEntity.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bibliographic-entity.edit({id:bibliographicEntity.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bibliographic-entity.delete({id:bibliographicEntity.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
