<div>
    <h2>Item Entities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="item-entity.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Item Entity
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="itemId"><span>Item Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="barcode"><span>Barcode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customerCode"><span>Customer Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="callNumber"><span>Call Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="callNumberType"><span>Call Number Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="itemAvailabilityStatusId"><span>Item Availability Status Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="copyNumber"><span>Copy Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="owningInstitutionId"><span>Owning Institution Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="collectionGroupId"><span>Collection Group Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span>Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdBy"><span>Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastUpdatedDate"><span>Last Updated Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastUpdatedBy"><span>Last Updated By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="useRestrictions"><span>Use Restrictions</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="volumePartYear"><span>Volume Part Year</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="owningInstitutionItemId"><span>Owning Institution Item Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="itemEntity in vm.itemEntities track by itemEntity.id">
                    <td><a ui-sref="item-entity-detail({id:itemEntity.id})">{{itemEntity.id}}</a></td>
                    <td>{{itemEntity.itemId}}</td>
                    <td>{{itemEntity.barcode}}</td>
                    <td>{{itemEntity.customerCode}}</td>
                    <td>{{itemEntity.callNumber}}</td>
                    <td>{{itemEntity.callNumberType}}</td>
                    <td>{{itemEntity.itemAvailabilityStatusId}}</td>
                    <td>{{itemEntity.copyNumber}}</td>
                    <td>{{itemEntity.owningInstitutionId}}</td>
                    <td>{{itemEntity.collectionGroupId}}</td>
                        <td>{{itemEntity.createdDate | date:'mediumDate'}}</td>
                    <td>{{itemEntity.createdBy}}</td>
                        <td>{{itemEntity.lastUpdatedDate | date:'mediumDate'}}</td>
                    <td>{{itemEntity.lastUpdatedBy}}</td>
                    <td>{{itemEntity.useRestrictions}}</td>
                    <td>{{itemEntity.volumePartYear}}</td>
                    <td>{{itemEntity.owningInstitutionItemId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="item-entity-detail({id:itemEntity.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="item-entity.edit({id:itemEntity.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="item-entity.delete({id:itemEntity.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
