<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.recap" level="DEBUG"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.recap.config.liquibase.AsyncSpringLiquibase" level="OFF"/>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
